/* ---------------------
   General Styles
   ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #354E54;
    text-decoration: none;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
}
/* ---------------------
   Top Bar
   ---------------------*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #258099;
}
.navbar {
    display: flex;
    width: 100vw;
    height: 60px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    height: 55px;
    background-color: white;
}
.navbar a.active {
    background-color: #7BD2E8;
}
.navbar a:hover {
    border-bottom: solid 5px #24839C;
}
/* ---------------------
   Menu
   ---------------------*/
.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.menu {
    display: flex;
    flex-direction: column;
}
.menu-top {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}
.menu-filters {
    display: flex;
    flex-direction: row;
    z-index: 2;
    height: 50px;
    margin-bottom: 15px;
    gap: 20px;
}
/* ---------------------
   Filter Selection
   ---------------------*/
/*
    classes for checkboxes inside drop down menu taken from https://stackoverflow.com/a/27547021
    answer by user vitfo (https://stackoverflow.com/users/3025330/vitfo) on stack overflow
    (though of course, the css code itself was all created by me to fit my website design)
*/
.multiselect {
    width: 200px;
    background: white;
    margin-left: 15px;
    border: 3px solid #24839C;
    border-radius: 10px;
    padding: 2px;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkboxes {
    display: none;
}
#checkboxes label {
    padding-left: 2px;
    display: flex;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#checkboxes label:hover {
    background-color: #7BD2E8;
}
input[type = submit] {
    width: 190px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: #24839C;
    background: #cce4ed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* ---------------------
   Sort Form
   ---------------------*/
.sort-form {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.sort-form select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 3px solid #24839C;
    border-radius: 10px;
    padding: 2px;
    margin: 0px 10px;
}
/* ---------------------
   Product Displays
   ---------------------*/
.center-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.single-display {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    margin-bottom: 20px;
}
.single-product-center {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.big-image {
    min-width: 300px;
    min-height: 300px;
    margin-right: 20px;
}
.product-info {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 19px;
    width: 1000px;
    border: solid 2px #354E54;
    min-height: 300px;
}
.product-info h1 {
    font-size: 30px;
    color: #354E54
}
.products {
    max-width: 1270px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 20px 0;
}
.product {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #354E54;
}
.product .product-image {
    width: 250px;
    height: 250px;
    background-color: #cce4ed;
}